body {
  margin: 10px;
  font-size: 13px;
  font-family: Comic Sans MS, Comic Sans, cursive;
}

.wrapper {
  margin: 50px 0px;
}

.section-field {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

.subsection-field {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  margin: auto;
}

.tablesection-field {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin: 0;
  padding: 10px;
}

.withborder {
  border: 2px solid gray;
}

.cell {
  display: flex;
  text-align: center;
  height: 100%;
}

.block {
  display: inline-block;
  border: 2px solid;
  border-radius: 2px;
  padding: 10px 23px;
  white-space: nowrap;
  margin: auto;
}

.nomargin {
  margin: 0;
}

.invisible {
  border: none;
  border-radius: none;
  background-color: #fff;
  font-size: 18px;
}

.section {
  background-color: #feff02;
}

.topic {
  background-color: #fed966;
}

.subtopic {
  background-color: #fee59c;
}

.col2to3 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.col1to3 {
  grid-column-start: 1;
  grid-column-end: 3;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab div {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab div:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab div.active {
  background-color: #ccc;
  font-size: 10px;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
